/Controller.class
/Determinante.class
/Eigenwert.class
/Funktion.class
/Integral.class
/InverseMatrix.class
/Komplex.class
/Matrix.class
/MatrixUtil.class
/Nullstelle.class
/PauliMatrix.class
/Vektor.class
/Version.class
/Visualizer.class
/DiracMatrix.class
/Spur.class
