/AdvancedIntegral.class
/JFreeChartVisualizer.class
/PureDeterminante.class
/SimpleDeterminante.class
/SimpleEigenwert.class
/SimpleIntegral.class
/SimpleInverseMatrix.class
/SimpleMatrix.class
/SimpleNullstelle.class
/SimpleSpur.class
